voyelle
trianglesDeCaracteres
AnneeBissextile
Compactage
ComparaisonSwitchCase
ComparerAZero
CompteARebourd
EntierDe100A1
EntierSep0
GenererDesLignes
PairImpair
PlusGrandNombre
PositifNegatifV2
Pythago
TableDOperation
TableDeConsersion
TriangleCroissant
TriangleDeNombre
While
calendrierJourSemaine
calendrierMois
operation
positifnegatif
puissanceDe2
